{% extends "layout.html" %}
{% block menu %}{% include "inc-menu.html" %}{% endblock %}
{% block content %}
    <main class="mb-5">
        <h2 class="d-flex justify-content-center mb-4">Аккаунт</h2>
        {% include "inc-flashed-messages.html" %}
        <div class="row g-3 justify-content-md-left">
            <div class="col col-lg-2">
                <img src="{{ image_file }}" class="rounded-circle" alt="Avatar Image">
            </div>
            <div class="col-md-auto">
                <h4 class="text-secondary">Пользователь</h4>
                <h2>{{ current_user.username }}</h2>
                <p>{{ current_user.email }}</p>
            </div>
        </div>
        <form class="row g-3 mt-2" method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group col-md-6">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group col-md-6">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group row mt-2">
                {{ form.picture.label(class="form-control-label") }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group col-12 btn-lg text-center">
                {{ form.submit(class="btn btn-outline-secondary") }}
            </div>
        </form>
    </main>
{% endblock content %}
{% block bottom %}{% include "inc-bottom.html" %}{% endblock %}
