{% extends "layout.html" %}
{% block menu %}{% include "inc-menu.html" %}{% endblock %}
{% block content %}
    <main class="mb-5">
        <h2 class="d-flex justify-content-center">{{ legend }}</h2>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group col-md">
                {{ form.title.label(class="form-control-label mt-3") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group col-md mt-3">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-lg", rows="15") }}
                {% endif %}
            </div>
            <div class="form-group col-md my-4">
                {{ form.picture }}
            </div>
            <div class="form-group d-flex justify-content-center">
                {{ form.submit(class="btn btn-outline-primary my-3") }}
            </div>
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content') }}
    </main>
{% endblock content %}
{% block bottom %}{% include "inc-bottom.html" %}{% endblock %}