<style>

    body {
        font-family: 'Ubuntu', sans-serif;
    }

    .navbar-header, .heading {
        font-family: 'El Messiri', sans-serif;
        text-shadow: 1px 1px #aaaaaa;
    }

    .navbar-brand {
        font-size: 2.5em;
    }

    .navbar {
        background-color: #eeeeee;
        box-shadow: 0 1px 10px #666666;
    }

    .heading {
        margin-top: 3em;
    }

    .heading > h2 {
        text-align: center;
    }

    .content-body {
        margin: 0 5em 0 5em;
    }

    .card-text {
        font-size: 1.3em;
    }

    .card-text:first-letter {
        color: red;
    }
</style>