<style>
    body {
        font-family: 'Ubuntu', sans-serif;
    }

    .navbar-header, .top {
        font-family: 'El Messiri', sans-serif;
    }

    .navbar-header {
        text-shadow: 1px 1px #aaaaaa;
    }

    .top {
        text-shadow: 1px 1px #aaaaaa;
        margin-top: 1.2em;
    }

    .footer {
    }

    .top, .row.g-3 {
        margin-bottom: 1.2em;
    }

    .top > h2 {
        text-align: center;
    }

    .navbar-brand {
        font-size: 2.5em;
    }

    .navbar {
        background-color: #e9ecef;
        box-shadow: 0 1px 10px #666666;
    }

    .content-body, .navbar-nav {
        font-size: 1.3em;
    }

    .navbar-nav {
        margin: 0;
    }

    .content-body {
        margin: 0 5em 0 5em;
    }

    .card-text.red:first-letter {
        color: red;
    }

    .form-group.col-12.btn-lg {
        text-align: center;
        margin-top: 1.2em;
    }

    .form-group.row {
        margin-top: 1.2em;
    }

    .form-check {
        margin-left: 0.4em;
    }

    .collapse.navbar-collapse {
        justify-content: flex-end;
    }

    .row.g-3 small {
        font-size: 0.7em;
    }

    h4.card-title {
        margin: 0;
    }

    .alert {
        display: inline-block;
        text-align: center;
    }

    .footer {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .iter_pages {
        margin-bottom: 3em;
    }

</style>