<nav class="navbar navbar-expand-md">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Блог Андрея</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                    <p class="nav-item nav-link navigation-links">{{ current_user.username }}</p>
                    <a class="nav-item nav-link navigation-links" href="{{ url_for('users.account') }}">
                        <i class="fa fa-user"></i>Профиль</a>
                    <a class="nav-item nav-link navigation-links" href="{{ url_for('users.logout') }}">
                        <i class="fa fa-sign-out"></i>Выйти</a>
                {% else %}
                    <a class="nav-item nav-link navigation-links" href="{{ url_for('users.login') }}">Войти</a>
                    <a class="nav-item nav-link navigation-links" href="{{ url_for('users.register') }}">Зарегистрироваться</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>