{% extends "layout.html" %}
{% block menu %}{% include "inc-menu.html" %}{% endblock %}
{% block content %}
    <main class="mb-5">
        <h2 class="d-flex justify-content-center mb-4">{{ legend }}</h2>
        {% include "inc-flashed-messages.html" %}
        <div class="row g-3">
            <div class="col col-lg-2 d-flex flex-column mb-3 align-items-center">
                <img class="rounded-circle article-img"
                     src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                <a class="link-secondary"
                   href="{{ url_for('users.user_posts', username=post.author.username) }}"
                   id="author">{{ post.author.username }}</a>
            </div>
            <div class="col">
                <div class="card w-100">
                    <div class="card-body">
                        <h4 class="card-title mb-0">
                            <a class="title link-secondary"
                               href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a>
                        </h4>
                        <div class="row">
                            <small>Опубликовано {{ post.date_posted.strftime('%A, %d %B %Y %H:%M') }}</small>
                        </div>
                        {% if not form.picture %}
                            <div class="d-flex justify-content-center mt-3 card-img-top">
                                <img src="{{ url_for('static', filename='images/' + post.author.username + '/' + post.image_post) }}"
                                     alt="" width="600px">
                            </div>
                            <hr class="mt-4">
                        {% endif %}
                        <p class="card-text mt-3">{{ post.content }}</p>
                    </div>
                    {% if post.author == current_user %}
                        <div class="card-footer text-center"> {% if post.author == current_user %}
                            <a class="btn btn btn-outline-secondary"
                               href="{{ url_for('posts.update_post', post_id=post.id) }}">Обновить</a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">
                                Удалить
                            </button>
                        {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-between mt-3">
                    <div class="left_side_post">&#128065;{{ post.views }}</div>
                    {#                        <div class="right_side_post">&#10084;{{ post.likes }}</div>#}
                </div>

                {% include 'inc-comments.html' %}

            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Удалить пост?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                            <input class="btn btn-danger" type="submit" value="Удалить">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
{% block bottom %}{% include "inc-bottom.html" %}{% endblock %}
