{% extends "layout.html" %}
{% block style %}{% include "inc-style.html" %}{% endblock style %}
{% block menu %}{% include "inc-menu.html" %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="content-body">
            <br>
            <div class="top">
                <h1>Страница не найдена (ошибка 404)</h1>
            </div>
            <div class="top">
                <h1>&#128544;</h1>
            </div>
        </div>
    </div>
{% endblock content %}
{% block bottom %}{% include "inc-bottom.html" %}{% endblock %}